# Files

*.conf
*.db
*.db-journal
*.log
*.noload
*.sqlite
*.db
*.txt
*.xml
!*.yaml
!scenes
!.gitignore
.HA_VERSION
known_devices.yaml
google_calendars.yaml
secrets.yaml
.google.token
secrets.yaml
known_devices.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wa
home-assistant_v2.db
.uuid

# Directories
icloud
deps
www
.cloud/


# Python Caches
__pycache__
*.pyc
